html, body {
    margin-top: 1.5%;
    margin-left: 3%;
    margin-right: 3%;
}

body {
    font-family: Helvetica;
}

.nav {
    position: relative;
}

.nav .nav_title {
    display: inline-block;
    font-size: 32px;
}

.nav .nav_elements {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
}

.nav .nav_elements span {
    padding-left: 24px;
}

#home_content {
    text-align: center;
    padding: 8px 0 0 0;
}

#home_content img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}


a:hover {
    opacity: .2;

}

a:active{
    opacity: .1;
}

.nav_title a:hover {
    opacity: 1;
}

#credits {
    padding-top: 6px;
    float: right;
    font-size: 12px;
}

#credits a {
    color: Black;
}

