html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: Helvetica;
    color: Black;
}

#top_third {
    height: 33%;
}

#title_bar {
    position: relative;
    padding: 8px 0 0 0;

}

#title_bar #title {
    margin: 0px auto 0px auto;
    width: 263px;
    font-size: 32px;
}

#title_bar #contact {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

#middle_third {
    height: 33%;
    text-align: center;
}

#bottom_spacer {
    height: 33%;
}

#middle_third img {
    max-width: 30%;
    padding: 0% 6.5%;
}

a {
    text-decoration: none;
    color: black;
}

#contact a {
    padding: 0 12px 0 0;
}
a:hover {
    opacity: .2;

}

